html {
  font-family: "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, Meiryo, sans-serif;
}

a {
  text-decoration: none;
}
a:link,
a:active,
a:visited {
  color: black;
}
a:hover {
  color: gray;
}

ul {
  list-style: none;
  padding: 0;
}

.header {
  text-align: center;
}

.header__title {
  font-size: 3rem;
  margin: 0.5rem;
}

.header__text {
  margin: 0.5rem;
}

.main {
  margin: 40px 0;
}

.account-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.account-list__item {
  width: 33%;
}

.account-list__item {
  width: 33%;
}

@media (max-width: 400px) {
  .account-list__item {
    width: 50%;
  }
}


.footer {
  text-align: center;
}

.footer__copyright {
  margin: 0.5rem;
}

.my-icon {
  margin: 10px 0;
  text-align: center;
}

.icon-text {
  font-size: 3rem;
  font-weight: bold;
}

@media (max-width: 400px) {
  .icon-text {
    font-size: 2rem;
    font-weight: bold;
  }
}
